AI_URL=https://openrouter.ai/api/v1
AI_KEY=YOUR_API_KEY
AI_MODEL=deepseek/deepseek-v4-flash-0731
WEATHER_API=YOUR_OPEN_WEAHTER_API_KEY
FORMATTER_MODEL=deepseek/deepseek-v4-flash-0731
RAPID_API_KEY=YOUR_RAPID_API_KEY
GEOAPIFY_KEY=YOUR_GEOAPIFY_KEY